In [1]:
import pandas as pd
import numpy as np
import glob
import os
import re

In [22]:
file_path = 'Resources/cleanBatters.csv'
batters = pd.read_csv(file_path)
batters

,Year,Rnd,RdPck,Tm,Signed,Bonus,Name,Pos,WAR,G,AB,HR,BA,OPS,Type,Drafted Out of,Team Made Playoffs
0,2000,1,1,Marlins,Y,3000000.0,Adrian Gonzalez,1B,43.5,1929.0,7139.0,317.0,0.287,0.843,HS,"Eastlake HS (Chula Vista, CA)",0
1,2000,1,3,Cubs,Y,2750000.0,Luis Montanez,SS,-1.3,129.0,305.0,5.0,0.223,0.586,HS,"Coral Park HS (Miami, FL)",0
2,2000,1,6,Devil Rays,Y,2250000.0,Rocco Baldelli,OF,10.2,519.0,1910.0,60.0,0.278,0.766,HS,"Bishop Hendricken HS (Warwick, RI)",0
3,2000,1,11,Brewers,Y,1950000.0,Dave Krynzel,OF,0.2,21.0,48.0,0.0,0.188,0.486,HS,"Green Valley HS (Henderson, NV)",0
4,2000,1,12,White Sox,Y,5300000.0,Joe Borchard,OF,-1.5,301.0,716.0,26.0,0.205,0.636,4Yr,"Stanford University (Palo Alto, CA)",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,2015,1,34,Tigers,Y,1795100.0,Christin Stewart,OF,-1.2,157.0,519.0,15.0,0.225,0.676,4Yr,"University of Tennessee (Knoxville, TN)",0
358,2015,1,36,Orioles,Y,1300000.0,Ryan Mountcastle,SS,3.3,248.0,934.0,52.0,0.272,0.812,HS,"Paul J. Hagerty HS (Oviedo, FL)",0
359,2015,1,37,Astros,Y,4000000.0,Daz Cameron,OF,-0.4,70.0,216.0,5.0,0.204,0.606,HS,"Eagle's Landing Christian Academy (McDonough, GA)",1
360,2015,1,38,Rockies,Y,2000000.0,Tyler Nevin,3B,0.0,48.0,138.0,3.0,0.196,0.615,HS,"Poway HS (Poway, CA)",0
361,2015,1,41,Braves,Y,1600000.0,Austin Riley,3B,7.8,370.0,1360.0,79.0,0.270,0.834,HS,"DeSoto Central HS (Southaven, MS)",0

In [4]:
batters.dtypes

Year                    int64
Rnd                     int64
RdPck                   int64
Tm                     object
Signed                 object
Bonus                 float64
Name                   object
Pos                    object
WAR                   float64
G                     float64
AB                    float64
HR                    float64
BA                    float64
OPS                   float64
Type                   object
Drafted Out of         object
Team Made Playoffs      int64
dtype: object

In [5]:
batters.count()

Year                  362
Rnd                   362
RdPck                 362
Tm                    362
Signed                362
Bonus                 362
Name                  362
Pos                   362
WAR                   362
G                     362
AB                    362
HR                    362
BA                    362
OPS                   362
Type                  362
Drafted Out of        362
Team Made Playoffs    362
dtype: int64

In [23]:
random_forest_batters = batters.drop(['Name','Drafted Out of', 'Rnd'], 1)
random_forest_batters

/Users/daniellesilvaggio/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

,Year,RdPck,Tm,Signed,Bonus,Pos,WAR,G,AB,HR,BA,OPS,Type,Team Made Playoffs
0,2000,1,Marlins,Y,3000000.0,1B,43.5,1929.0,7139.0,317.0,0.287,0.843,HS,0
1,2000,3,Cubs,Y,2750000.0,SS,-1.3,129.0,305.0,5.0,0.223,0.586,HS,0
2,2000,6,Devil Rays,Y,2250000.0,OF,10.2,519.0,1910.0,60.0,0.278,0.766,HS,0
3,2000,11,Brewers,Y,1950000.0,OF,0.2,21.0,48.0,0.0,0.188,0.486,HS,0
4,2000,12,White Sox,Y,5300000.0,OF,-1.5,301.0,716.0,26.0,0.205,0.636,4Yr,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,2015,34,Tigers,Y,1795100.0,OF,-1.2,157.0,519.0,15.0,0.225,0.676,4Yr,0
358,2015,36,Orioles,Y,1300000.0,SS,3.3,248.0,934.0,52.0,0.272,0.812,HS,0
359,2015,37,Astros,Y,4000000.0,OF,-0.4,70.0,216.0,5.0,0.204,0.606,HS,1
360,2015,38,Rockies,Y,2000000.0,3B,0.0,48.0,138.0,3.0,0.196,0.615,HS,0
361,2015,41,Braves,Y,1600000.0,3B,7.8,370.0,1360.0,79.0,0.270,0.834,HS,0

In [24]:
random_cat = random_forest_batters.dtypes[random_forest_batters.dtypes == "object"].index.tolist()

In [25]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(random_forest_batters[random_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(random_cat)
encode_df.head()

/Users/daniellesilvaggio/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Tm_Angels,Tm_Angels,Tm_Astros,Tm_Athletics,Tm_Athletics,Tm_Blue Jays,Tm_Blue Jays,Tm_Braves,Tm_Brewers,Tm_Brewers,...,Pos_C,Pos_CF,Pos_LF,Pos_OF,Pos_RF,Pos_SS,Pos_lHP,Type_4Yr,Type_HS,Type_JC
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [26]:
# Merge one-hot encoded features and drop the originals
random_forest_batters = random_forest_batters.merge(encode_df,left_index=True, right_index=True)
random_forest_batters = random_forest_batters.drop(random_cat,1)
random_forest_batters.head()

/Users/daniellesilvaggio/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Year,RdPck,Bonus,WAR,G,AB,HR,BA,OPS,Team Made Playoffs,...,Pos_C,Pos_CF,Pos_LF,Pos_OF,Pos_RF,Pos_SS,Pos_lHP,Type_4Yr,Type_HS,Type_JC
0,2000,1,3000000.0,43.5,1929.0,7139.0,317.0,0.287,0.843,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2000,3,2750000.0,-1.3,129.0,305.0,5.0,0.223,0.586,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,2000,6,2250000.0,10.2,519.0,1910.0,60.0,0.278,0.766,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,2000,11,1950000.0,0.2,21.0,48.0,0.0,0.188,0.486,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,2000,12,5300000.0,-1.5,301.0,716.0,26.0,0.205,0.636,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [27]:
# Define the features set.
X = random_forest_batters.copy()
X = X.drop("Team Made Playoffs", axis=1)
X.head()

,Year,RdPck,Bonus,WAR,G,AB,HR,BA,OPS,Tm_Angels,...,Pos_C,Pos_CF,Pos_LF,Pos_OF,Pos_RF,Pos_SS,Pos_lHP,Type_4Yr,Type_HS,Type_JC
0,2000,1,3000000.0,43.5,1929.0,7139.0,317.0,0.287,0.843,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2000,3,2750000.0,-1.3,129.0,305.0,5.0,0.223,0.586,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,2000,6,2250000.0,10.2,519.0,1910.0,60.0,0.278,0.766,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,2000,11,1950000.0,0.2,21.0,48.0,0.0,0.188,0.486,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,2000,12,5300000.0,-1.5,301.0,716.0,26.0,0.205,0.636,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [28]:
y = random_forest_batters["Team Made Playoffs"].ravel()
y[:5]

array([0, 0, 0, 0, 1])

In [29]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Creating a StandardScaler instance.
scaler = StandardScaler()

# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [30]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [31]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [32]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           54           10
Actual 1           21            6

In [33]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [34]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           54           10
Actual 1           21            6

Accuracy Score : 0.6593406593406593
Classification Report
              precision    recall  f1-score   support

           0       0.72      0.84      0.78        64
           1       0.38      0.22      0.28        27

    accuracy                           0.66        91
   macro avg       0.55      0.53      0.53        91
weighted avg       0.62      0.66      0.63        91

In [35]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.10541257167500008, 'RdPck'),
 (0.08970585963965753, 'Bonus'),
 (0.07677140773761058, 'Year'),
 (0.05961761092699199, 'BA'),
 (0.05755313184074569, 'WAR'),
 (0.055905372188770286, 'G'),
 (0.05253043296831599, 'OPS'),
 (0.0524151843573602, 'HR'),
 (0.05059158914283096, 'AB'),
 (0.028684844370745713, 'Tm_Rays'),
 (0.02621247924073131, 'Tm_Yankees'),
 (0.019961176277398098, 'Type_HS'),
 (0.019890962100111167, 'Tm_Braves'),
 (0.017747455831003067, 'Tm_Rangers'),
 (0.01747529317846345, 'Tm_Athletics'),
 (0.015380679390918615, 'Type_4Yr'),
 (0.0148548209872303, 'Pos_SS'),
 (0.01473034473503513, 'Tm_Cardinals'),
 (0.013298777473326487, 'Tm_Phillies'),
 (0.013285988422038427, 'Pos_OF'),
 (0.012803338254413293, 'Pos_3B'),
 (0.011271151039386008, 'Tm_Red Sox'),
 (0.011229129882083197, 'Tm_Astros'),
 (0.010194996206692458, 'Pos_CF'),
 (0.009648122540958105, 'Tm_Twins'),
 (0.009323761986348454, 'Tm_Reds'),
 (0.008682393065850934, 'Pos_C'),
 (0.007645754644344402, 'Pos_1B'),
 (0.007222957911968773, 'Tm_Cubs'),
 (0.007056792618826107, 'Tm_Padres'),
 (0.006895764782952723, 'Tm_Pirates'),
 (0.0068927225434613475, 'Tm_Blue Jays'),
 (0.006567749585162746, 'Tm_Yankees '),
 (0.0065546056114068885, 'Tm_Indians'),
 (0.00631039740171628, 'Pos_2B'),
 (0.006139223945947386, 'Tm_White Sox'),
 (0.005799138497788219, 'Tm_Rockies '),
 (0.005259826885981848, 'Tm_Brewers'),
 (0.00477834104517502, 'Tm_Angels'),
 (0.0043086653976770846, 'Tm_Athletics '),
 (0.004245612115965729, 'Tm_Dodgers'),
 (0.0035262228138025747, 'Tm_Mariners'),
 (0.0033994526719183403, 'Tm_Giants'),
 (0.0032388929417677442, 'Tm_Cardinals '),
 (0.0030491518119374916, 'Tm_Rockies'),
 (0.0027718141435579416, 'Tm_Tigers'),
 (0.002766853445468432, 'Tm_Red Sox '),
 (0.0023571331396076583, 'Signed_N'),
 (0.002021274393602082, 'Tm_Royals'),
 (0.0019144472319992383, 'Pos_RF'),
 (0.0017801562070778214, 'Tm_Orioles'),
 (0.0017369778588692264, 'Signed_Y'),
 (0.0014664563504036396, 'Tm_Mets'),
 (0.0014374947185390495, 'Tm_Diamondbacks'),
 (0.001179468830970849, 'Type_JC'),
 (0.0010697475055275222, 'Tm_Angels '),
 (0.0008690832074651405, 'Tm_Giants '),
 (0.0007615350260988821, 'Tm_Brewers '),
 (0.0007568828413730908, 'Tm_Blue Jays '),
 (0.0006515525383778712, 'Tm_Mets '),
 (0.0005781531234471378, 'Tm_Marlins'),
 (0.00044584833970134154, 'Tm_Royals '),
 (0.00037544640485607654, 'Tm_Orioles '),
 (0.0003162764185333932, 'Pos_lHP'),
 (0.00021440341181405332, 'Pos_LF'),
 (0.00019812728948274106, 'Tm_Nationals'),
 (0.00015638359183850167, 'Tm_Indians '),
 (7.749235229620219e-05, 'Tm_Diamondbacks '),
 (2.6842941273961127e-05, 'Tm_Devil Rays'),
 (0.0, 'Tm_Rays '),
 (0.0, 'Tm_Rangers '),
 (0.0, 'Tm_Mariners '),
 (0.0, 'Tm_Dodgers ')]