In [1]:
import pandas as pd
import numpy as np
import glob
import os
import re

In [2]:
path = 'Resources/first_round_csvs'
all_files = glob.glob(os.path.join(path + "/*.csv"))

li = []

for filename in all_files:
    df = pd.read_csv(filename,encoding_errors='ignore', index_col=None, header=0)
    li.append(df)

first_round_df = pd.concat(li, axis=0, ignore_index=True)

In [3]:
first_round_df = first_round_df.sort_values(by=['Year', 'RdPck'])
first_round_df

,Year,Rnd,DT,OvPck,FrRnd,RdPck,Tm,Signed,Bonus,Name,...,OPS,G.1,W,L,ERA,WHIP,SV,Type,Drafted Out of,Team Made Playoffs
431,2000,1,NaN,1,FrRnd,1,Marlins,Y,"$3,000,000",Adrian Gonzalez(minors),...,0.843,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Eastlake HS (Chula Vista, CA)",0
432,2000,1,NaN,2,FrRnd,2,Twins,Y,"$2,500,000",Adam Johnson(minors),...,0.000,9.0,1.0,3.0,10.25,2.05,0.0,4Yr,"California State University, Fullerton (Fuller...",0
433,2000,1,NaN,3,FrRnd,3,Cubs,Y,"$2,750,000",Luis Montanez(minors),...,0.586,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Coral Park HS (Miami, FL)",0
434,2000,1,NaN,4,FrRnd,4,Royals,Y,"$2,500,000",Mike Stodolka(minors),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Centennial HS (Corona, CA)",0
435,2000,1,NaN,5,FrRnd,5,Expos,Y,"$2,950,000",Justin Wayne(minors),...,0.000,26.0,5.0,8.0,6.13,1.65,0.0,4Yr,"Stanford University (Palo Alto, CA)",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,2015,1,NaN,38,FrRnd,38,Rockies,Y,"$2,000,000",Tyler Nevin(minors),...,0.615,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Poway HS (Poway, CA)",0
273,2015,1,NaN,39,FrRnd,39,Cardinals,Y,"$1,800,000",Jake Woodford(minors),...,0.222,49.0,5.0,4.0,4.12,1.30,0.0,HS,"H. B. Plant HS (Tampa, FL)",1
274,2015,1,NaN,40,FrRnd,40,Brewers,Y,"$1,250,000",Nathan Kirby(minors),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4Yr,"University of Virginia (Charlottesville, VA)",0
275,2015,1,NaN,41,FrRnd,41,Braves,Y,"$1,600,000",Austin Riley(minors),...,0.834,NaN,NaN,NaN,NaN,NaN,NaN,HS,"DeSoto Central HS (Southaven, MS)",0
276,2015,1,NaN,42,FrRnd,42,Indians,Y,"$2,302,500",Triston McKenzie(minors),...,1.000,48.0,12.0,16.0,4.26,1.07,0.0,HS,"Royal Palm Beach HS (Royal Palm Beach, FL)",0

In [4]:
first_round_df.to_csv('Resources/AllFirstRoundDrafts copy.csv', index=False)

In [8]:
def clean_df():
    path = f'{file_dir}/Resources/first_round_csvs'
    all_files = glob.glob(os.path.join(path + "/*.csv"))

    li = []

    for filename in all_files:
        df = pd.read_csv(filename,encoding_errors='ignore', index_col=None, header=0)
        li.append(df)

    first_round_df = pd.concat(li, axis=0, ignore_index=True)
    first_round_df = first_round_df.sort_values(by=['Year', 'OvPck']).reset_index()
    first_round_df = first_round_df.drop(['index', 'DT', 'FrRnd', 'OvPck'], axis=1)
    
    first_round_df['Tm'] = first_round_df['Tm'].str.replace(r'via(.*$)', '', regex=True)
    first_round_df['Name'] = first_round_df['Name'].str.replace(r'\((.+?)\)', '', regex=True) 
    first_round_df['Name'] = first_round_df['Name'].str.replace('\*', '', regex=True) 
    first_round_df['Type'] = first_round_df['Type'].fillna('None')
    first_round_df['Type'] = first_round_df['Type'].fillna('None')
    
    first_round_df['WAR'] = first_round_df['WAR'].fillna(0)
    first_round_df['G'] = first_round_df['G'].fillna(0)
    first_round_df['AB'] = first_round_df['AB'].fillna(0)
    first_round_df['HR'] = first_round_df['HR'].fillna(0)
    first_round_df['BA'] = first_round_df['BA'].fillna(0)
    first_round_df['OPS'] = first_round_df['OPS'].fillna(0)
    first_round_df['G.1'] = first_round_df['G.1'].fillna(0)
    first_round_df['W'] = first_round_df['W'].fillna(0)
    first_round_df['L'] = first_round_df['L'].fillna(0)
    first_round_df['ERA'] = first_round_df['ERA'].fillna(0)
    first_round_df['WHIP'] = first_round_df['WHIP'].fillna(0)
    first_round_df['SV'] = first_round_df['SV'].fillna(0)
    
    def parse_dollars(s):
        # if s is not a string, return NaN
        if type(s) != str:
            return 0
        elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):
            s = re.sub('\$|,','', s)
            value = float(s)
            return value
        else:
            return 0
    
    def parse_rnd(s):
        if type(s) != str:
            return int(s)
        elif re.match('1s', s):
            s = re.sub('s', '', s)
            value = int(s)
            return value
        else:
            return int(s)    
    
    first_round_df['Bonus'] = first_round_df['Bonus'].apply(parse_dollars)
    first_round_df['Rnd'] = first_round_df['Rnd'].apply(parse_rnd)
    
    return first_round_df

In [9]:
file_dir = '/Users/daniellesilvaggio/Desktop/UCSD/Final_Project_Baseball_draft_prediction'
player_file = f'{file_dir}/Resources/first_round_csvs'

In [10]:
player_file = clean_df()
first_round_df = player_file
first_round_df.head()

,Year,Rnd,RdPck,Tm,Signed,Bonus,Name,Pos,WAR,G,...,OPS,G.1,W,L,ERA,WHIP,SV,Type,Drafted Out of,Team Made Playoffs
0,2000,1,1,Marlins,Y,3000000.0,Adrian Gonzalez,1B,43.5,1929.0,...,0.843,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Eastlake HS (Chula Vista, CA)",0
1,2000,1,2,Twins,Y,2500000.0,Adam Johnson,RHP,-1.1,1.0,...,0.000,9.0,1.0,3.0,10.25,2.05,0.0,4Yr,"California State University, Fullerton (Fuller...",0
2,2000,1,3,Cubs,Y,2750000.0,Luis Montanez,SS,-1.3,129.0,...,0.586,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Coral Park HS (Miami, FL)",0
3,2000,1,4,Royals,Y,2500000.0,Mike Stodolka,LHP,0.0,0.0,...,0.000,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Centennial HS (Corona, CA)",0
4,2000,1,5,Expos,Y,2950000.0,Justin Wayne,RHP,-1.5,26.0,...,0.000,26.0,5.0,8.0,6.13,1.65,0.0,4Yr,"Stanford University (Palo Alto, CA)",0

In [11]:
first_round_df.to_csv('Resources/AllFirstRoundDrafts_Clean.csv', index=False)